*.elc
*~
backups/*
auto-save-list/*
*#
*.swp
.smex-items
.emacs.desktop*
places
*.dat
ede-projects.el
semanticdb
.git
anything-c-adaptive-history
eshell/
eproject.lst*
*.pyc
bookmarks
abbrev_defs
session.*
url/
tramp
