[submodule "vendor/ido-ubiquitous"]
	path = vendor/ido-ubiquitous
	url = git://github.com/technomancy/ido-ubiquitous.git
[submodule "vendor/haskell"]
	path = vendor/haskell
	url = git://github.com/haskell/haskell-mode.git
[submodule "vendor/auto-complete-clang"]
	path = vendor/auto-complete-clang
	url = git://github.com/brianjcj/auto-complete-clang.git
[submodule "cabbage"]
	path = cabbage
	url = git@github.com:weiqiyiji/cabbage.git
[submodule "vendor/go-mode"]
	path = vendor/go-mode
	url = https://github.com/dominikh/go-mode.el.git
