[submodule "vendor/ido-ubiquitous"]
	path = vendor/ido-ubiquitous
	url = git://github.com/technomancy/ido-ubiquitous.git
[submodule "vendor/haskell"]
	path = vendor/haskell
	url = git://github.com/haskell/haskell-mode.git
