[submodule "vendor/ido-ubiquitous"]
	path = vendor/ido-ubiquitous
	url = git://github.com/technomancy/ido-ubiquitous.git
[submodule "vendor/haskell"]
	path = vendor/haskell
	url = git://github.com/haskell/haskell-mode.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://github.com/nablaone/slime.git
[submodule "vendor/auto-complete-clang"]
	path = vendor/auto-complete-clang
	url = git://github.com/brianjcj/auto-complete-clang.git
